:root {
  --app-background: #FFFFFF;
  --contrast-color: #FFFFFF;
  --element-background: #F5F5F5;
  --text-color: #2E3146;
  --text-black-color: #000000;
  --accent-color: #0e96a7;
  --accent-hover-color: rgba(201, 50, 57, 0.2);
  --disabled-color: #A0A0A0;
  --text-secondary-color: #71809B;
  --error-color: #A51C30;
  --warning-color: #ED7E2E;
  --shadow: rgba(0, 0, 0, 0.1);
  --scrollbar-color: #2E3146;
  --hr-color: #E8EDF5;
  --border-color: #CACED5;
  --tag-color: #E8E9EC;
  --tag-color-secondary: #F1F3F6;
  --tag-color-hover: #E3E6EB;
  --header-top-panel-color: #2E3146;
  --disabled-light: rgba(153, 153, 153, 0.12);
  --input-gray-background: #f5f5f5;
  --input-gray-dark-background: rgba(46, 49, 70, 0.08);
  --department-link-background: rgba(115, 130, 157, 0.1);
  --tag-background: rgba(115, 130, 157, 0.1);
  --contrast-color-no-opacity: rgba(255, 255, 255, 0);
  --photo-background: rgba(255, 255, 255, 0.7);
  --photo-background-gradient-1: linear-gradient(180deg, rgba(0, 0, 0, 0) 70.42%, rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0.7) 100%);
  --photo-background-gradient-2: linear-gradient(180deg, rgba(0, 0, 0, 0) 26.73%, rgba(0, 0, 0, 0.7) 64.85%);
  --footer-background: #2E3146;
  --footer-line: rgba(255, 255, 255, 0.2);
  --footer-foot-background: rgba(0, 0, 0, 0.2);
  --element-background-dark: #252738;
  --history-text-background: #2E3146;
  --slider-gradient: rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%;
  --image-shadow: 0 0.9rem 5.1rem rgba(46, 49, 70, 0.13), 0 0 2.5rem rgba(46, 49, 70, 0.05);
  --image-filter: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  --red-info-block: linear-gradient(42.65deg, #C93239 15.1%, #F05C72 104.07%), #2E3146;
  --white-info-block: #f5f5f5;
  --black-info-block: #2E3146;
  --structure-path-color: #AAB3C3;
  --overlay-color: rgba(0, 0, 0, 0.2);
  --header-shadow: rgba(95, 126, 155, 0.18);
}
