// --
// base
// ==

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
}

// Changing scrollbar style for modern desktop browsers
*::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px; /* roundness of the scroll thumb */
  background-color: var(--scrollbar-color); /* color of the scroll thumb */
}

// disable transition on load
.transition-disabled * {
  transition: none !important; /* stylelint-disable-line declaration-no-important */
}

.hidden,
[hidden] {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

*.disabled {
  cursor: not-allowed;
  opacity: 0.33;
}

// --
// base styles
// ==

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  margin: 0;
}

html {
  font-size: 62.5%;
  background: var(--app-background); // in some versions Opera background is black by default

  @media screen and (max-width: 767px) {
    font-size: calc(10px + 13 * (100vw - 375px) / 447);
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    font-size: calc(10px + 4 * (100vw - 768px) / 255);
  }

  @media (min-width: 1024px) and (max-width: 1360px) {
    font-size: calc(8px + 2 * (100vw - 1024px) / 336);
  }
}

body {
  @include text-body;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  color: var(--text-color);
  font-family: $font-main;
}

main {
  flex: 1 0 auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

strong,
b {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
label {
  cursor: pointer;
}

picture {
  img {
    display: block;
  }
}

[class^='_icon'] {
  display: block;
}

.visually-hidden {
  @include visually-hidden();
}

// base typography
h1,
._visually-h1 {
  @include h1;
}

h2,
._visually-h2 {
  @include h2;
}

h3,
._visually-h3 {
  @include h3;
}

h4,
._visually-h4 {
  @include h4;
}

h1,
._visually-h1,
h2,
._visually-h2,
h3,
._visually-h3,
h4,
._visually-h4 {

}

p {
  @include text-body;
}

[data-animation] {
  visibility: hidden;
}
